/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.main-heading {
  color: #0f172a;
  font-size: 42px;
  font-weight: 900;
}

.description {
  color: #334155;
  font-size: 21px;
  font-weight: 400;
}

.incrementBtn {
  color: #0f172a;
  background-color: #ffffff;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border-width: 0px;
}

.star {
  color: #1e293b;
  font-size: 10px;
  font-weight: 500;
}
